---
import Layout from "@layouts/Layout.astro";
import { projects } from "./projects";

import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

export function getStaticPaths() {
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

const { slug } = Astro.params;
const { project } = Astro.props;

type ImagesObject = { [key: string]: Function };
const allImages = import.meta.glob<{ default: ImageMetadata }>(
  "./**/*.{jpeg,jpg,png,gif}"
) as ImagesObject;

let images: ImagesObject = {};
Object.entries(allImages).forEach(([key, func]) => {
  const [_, project, image] = key.split("/");
  if (project === slug) {
    images[image] = func;
  }
});
---

<Layout
  title=`${project.title} | Roni Tuohino`
  description={project.seo.description}
>
  <main id="content">
    <h1>{project.title}</h1>
    <h2>
      {
        [project.organization, project.year]
          .filter((detail) => !!detail)
          .join(" | ")
      }
    </h2>
    <ul class="technologies">
      {project.technologies.map((tech) => <li class="technology">{tech}</li>)}
    </ul>

    <p class="description">{project.description}</p>
  </main>
</Layout>

<style>
  main {
    padding: 1rem;
  }
  h1,
  h2 {
    text-align: center;
  }
  .technologies {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem 0;
  }
  .technology {
    background-color: gray;
    border-radius: var(--border-radius);
    padding: 0.5rem;
  }
</style>
